* {
    margin: 0;
    padding: 0
}

html, body {
    height: 100%
}

#container {
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 100vh;
    color: #2c3e50;
    background: #ecf0f1
}

.title {
    font-size: 65px;
    font-family: 'Secular One', sans-serif;
    letter-spacing: 1px;
    margin: 25px
}

.number-subtitle {
    font-size: 21px;
    font-family: 'Secular One', sans-serif;
    font-weight: bold;
    letter-spacing: 1px;
    margin-bottom: 18px
}

.term {
    width: 200px;
    height: 30px;
    padding-left: 10px;
    font-size: 18px;
    text-align: center;
    border-radius: 20px;
    border: 1px solid #ccc;
    outline: none;
}

#operator {
    display:flex;
    flex-direction: column;
    align-items: center;
}

#operadores {
    display: inline-flex;
    flex-wrap: wrap;
    justify-content: center;
}

.operador {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    font-size: 25px;
    border: 0;
    cursor: pointer;
    margin: 50px 20px;
    color: #FFF;
    background: #c0392b
}

.escolhido {
    transform: scale(1.2);
    color: #fff;
    background: #e74c3c;
}

#calcular {
    width: 170px;
    height: 40px;
    border-radius: 20px;
    font-size: 20px;
    font-family: 'Secular One', sans-serif;
    letter-spacing: 1px;
    text-transform: uppercase;
    border: 1px solid #ccc;
    cursor: pointer;
    margin-top: 50px;
    color: #FFF;
    background: #c0392b;
    transition: transform 0.8s
}

#calcular:hover {
    transform: scale(1.1)
}

#result {
    padding: 35px;
    font-size: 28px;
    font-family: 'Secular One', sans-serif;
    text-align: center;
}

@media screen and (max-width: 500px) {
    .title {
        font-size: 55px
    }

    .operador {
        margin: 50px 12px
    }
}